[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
itsdangerous = "==1.1.0"
Flask = "==1.0.2"
Jinja2 = "==2.10"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.15.5"

[dev-packages]
flake8 = "==3.9.2"

[requires]
python_version = "3.8"
